<div class="header d-flex justify-content-between p-3 bg-white fixed-top border-bottom">
  <i class="fa fa-bars" aria-hidden="true"></i>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
</div>
