<div class="partner-section container">
  <h2 class="display-6 fw-bold partner-heading">Partners</h2>
  <div class="row partner-row">
    <div class="col d-flex align-items-center justify-content-center">
      <div class="partner-boximg w-100 p-3 d-flex align-items-center justify-content-center">
        <%= image_tag 'bol.png', alt: 'this is a img', class: 'w-75'%>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="partner-boximg w-100 p-3 d-flex align-items-center justify-content-center">
        <%= image_tag 'bcc-7-logo-png-transparent.png', alt: 'this is a img', class: 'w-75'%>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="partner-boximg w-100 p-3 d-flex align-items-center justify-content-center">
        <%= image_tag 'media mart.png', alt: 'this is a img', class: 'w-75'%>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="partner-boximg w-100 p-3 d-flex align-items-center justify-content-center">
        <%= image_tag '2.png', alt: 'this is a img', class: 'w-75'%>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <div class="partner-boximg w-100 p-3 d-flex align-items-center justify-content-center">
        <img src="" alt="" class="w-75">
      </div>
    </div>
  </div>
</div>