.w-15 {
  width: 15%;
}

#flash_alert {
  top: 16px;
  z-index: 9999;
  left: 100px;
  right: 100px;
  height: 40px;
  padding: 7px;
  text-align: center;
  position: absolute;
}

.page-content{
  margin-left: 272px;
  padding: 100px 30px 50px 30px;
  .custom-form {
    form {
      .name {
        .form-control {
          &:focus {
            box-shadow: none;
            border-color: #ced4da;
          }
        }
      }
      .tag {
        .select2-selection {
          height: auto !important;
        }
      }
      .select2 {
        margin: 8px 0 0;
        width: 100% !important;
        .select2-selection {
          height: 38px;
          border: 1px solid #ced4da;
          .select2-selection__rendered {
            height: 38px;
            color: #000000;
            line-height: 36px;
          }
          .select2-selection__arrow {
            height: 36px;
          }
        }
      }
    }
  }


  .banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("imgs/Group 106.svg");
  }
}

