
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="w-100 d-flex align-items-center justify-content-between">
      <a href="/" class="navbar-brand">
        <%= image_tag "mini-logo.png", class:"w-100 mini-logo d-lg-none d-md-block d-sm-block d-xs-block", alt:"product logo" %>
        <%= image_tag "brand-logo.svg", class:"w-100 logo d-lg-block d-none", alt:"product logo" %>
      </a>
      <div class="navbar-nav text-end">
        <h2 class="mb-0">
          <span class="nav-item nav-link text-end">De nr. 1 productvideo vergelijkingswebsite</span>
        </h2>
      </div>
    </div>
  </div>
</nav>