<div class="modal-header">
  <h5 class="modal-title d-flex justify-content-center" id="staticBackdropLabel"></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body d-flex justify-content-center">
  <iframe width="1000" height="600" src="<%=@iframe_video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>