<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id= 'body_sidebar'>
        <%= render 'shared/home/sidebar' %>
      </div>
    </div>
    <div class="col-md-8">
      <%= render 'shared/home/searched_results' %>
    </div>
  </div>
</div>
